body {
  margin: 0px;
  padding: 0px;
}
main {
  flex: 1;
}
span {
  font-size: 8vh;
  color: white;
}
.navbar {
  height: 7vh;
  width: auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 4vw;
  gap: 5vw;
  background-color: rgb(218, 88, 247);
}
.nav-items {
  display: flex;
  flex-wrap: wrap; /* make links wrap automatically */
  justify-content: flex-end;
  gap: 5vw;
}
a{
  font-size: 1rem;
  color: white;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  color: bisque;
}
.converter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.container {
    min-width:300px;
    min-height: 300px;
    width: 40vw;
    height: 70vh;
    margin-bottom: 15vh;
    border-radius: 1rem;
    background-color: rgb(218, 88, 247);
    text-align: center;
}

.amount {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.amount input:hover {
    background-color: rgb(92, 10, 129);
    color: white;
}
.amount input{
  width: 30vw;
  height: 3em;
  padding: 3px;
  border-radius: 5px;
  background-color:rgb(68, 11, 153) ;
  color:white;
  border: #060509;
  margin-right:10px;
}
.dropdown {
  width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.select-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-container img{
 border-radius:1.4em;
}
.country1{
  border-radius: 5px;
}
.country2{
  border-radius: 5px;

}
.select-container select{
  background-color:white;
}
.msg{
  width: 100%;
  height: 10vh;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.Exchange-currencyBtn{
  width: 30%;
  height:4rem ;
  border-radius:0.5em;
  background-color: rgb(68, 11, 153);
  color: white;
}
.Exchange-currencyBtn:hover{
  background-color: purple;
  cursor: pointer;
}

footer {
  width: 100%;
  height: auto;
  background-color: rgb(218, 88, 247);
  position: static;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}
.social-icons{
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-self: start;
  left: 0%;
}
.social-icons a{
  font-size: 30px;
  margin-right:15px;
  margin-bottom: 1rem;
  color:#0f0e0e;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: #1d13d1;
  transform: translateY(-5px);
}
hr {
  width: 100%;
  border: none;
  border-top: 2px solid #000;  /* line color */
  margin: 0;                   /* remove spacing */
}