body {
  margin: 0px;
  padding: 0px;
}
main {
  flex: 1;
}
span {
  font-size: 8vh;
  color: white;
}
.navbar {
  height: 7vh;
  width: auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 4vw;
  gap: 5vw;
  background-color: rgb(218, 88, 247);
}
.nav-items {
  display: flex;
  flex-wrap: wrap; /* make links wrap automatically */
  justify-content: flex-end;
  gap: 5vw;
}
a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
}
a :hover {
  cursor: pointer;
  color: bisque;
}
.converter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.container {
    min-width:300px;
    min-height: 300px;
    width: 40vw;
    height: 60vh;
    border-radius: 1rem;
    background-color: rgb(218, 88, 247);
    text-align: center;
}

.amount {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.amount input:hover {
    background-color: rgb(68, 11, 153);
    color: white;
}
.amount input{
  width: 30vw;
  height: 3em;
  border-radius: 5px;
  border: #060509;
  margin-right:10px;
}
.from {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dropdown {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.msg{
  width: 100%;
  height: 10vh;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn{
  width: 30%;
  height:4rem ;
  border-radius:0.5em;
  background-color: rgb(68, 11, 153);
  color: white;
}
footer {
  width: 100%;
  height: 7vh;
  color: white;
  background-color: rgb(218, 88, 247);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}
